{% extends 'layout.html'%}
{% block title %}book info{% endblock %}

{% block body %}
{% if msg  %}
<h1> {{msg}}</h1>
{% endif %}

<h2> {{title}}  By {{author}} in {{year}} ISBN number is {{isbn}} </h2>
{% if avg !=""  %}
<h1> avg from goodreads is {{avg}} and number of count is {{work_rev}}</h1>
{% endif %}


<form action="{{ url_for('book_info', title=title, author=author, year=year, isbn=isbn) }}" id="usrform" method="POST">
  Rating (between 1 and 5):
  <input type="number" name="rate" min="1" max="5" value="1" required>
  <input type="submit">
</form>
<textarea name="review"  rows="10" cols="50" form="usrform">Enter review here...</textarea><br>
{% for i in reviews %}
<textarea readonly>{{i.review}}</textarea> 
<h2> the rating for this review is {{i.rating}}</h2>
<br>

{% endfor %}

{% endblock %}
